.menuImg {
    border-radius: 360px;
    width: 65%;
    margin-top: 10px;
    margin-left:-36%;     
}

.menuRow {
    background-position: center ;
    background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSNCwO6Xjg2XzCqbF4pE1XL9N3fLOiKuLbWFXyCei_0gZ3taAEm');
    width:100%;
    padding: 0px;
    height: 200px;
}

.padZero {
    padding: 0px;
}
h2{
    color: wheat;
       margin-left:-60px;

}
